@import "tailwindcss";

@plugin "@codaworks/react-glow/tailwind";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  .animate-gradient {
    animation: gradient 30s ease infinite;
    transform-origin: center;
  }

  .morph-blob {
    animation: morph 20s ease infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: all 1s ease-in-out;
  }

  @keyframes gradient {
    0% {
      transform: translate(-100%, -100%) scale(0.9);
    }
    25% {
      transform: translate(100%, -100%) scale(1.1);
    }
    50% {
      transform: translate(100%, 100%) scale(0.95);
    }
    75% {
      transform: translate(-100%, 100%) scale(1.05);
    }
    100% {
      transform: translate(-100%, -100%) scale(0.9);
    }
  }

  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    25% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    50% {
      border-radius: 40% 60% 30% 70% / 70% 30% 50% 40%;
    }
    75% {
      border-radius: 60% 40% 70% 30% / 30% 70% 40% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
  }
}
